__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
.venv/
venv/

data/raw/*.csv
data/processed/*.csv

artifacts/models/*
artifacts/reports/*
!artifacts/models/.gitkeep
!artifacts/reports/.gitkeep

logs/*.log*
!logs/.gitkeep

.DS_Store
.idea/
.vscode/
